@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }
body { @apply bg-white dark:bg-slate-900 text-gray-900 dark:text-gray-100; }
html { scroll-behavior: smooth; }

* { cursor: none !important; }
input, textarea { caret-color: auto; }
.cursor-layer, .cursor-spark { pointer-events: none; }